@charset "utf-8";
/* CSS Document */


.usageBox
{
	border:1px dashed #CCC;
	padding:10px;
	background:#FFFFD9;
}

.avishiTextBox
{
	width:250px;
	height:25px;
	border:1pc solid #ccc;
	
}

.pluginTitle
{
	margin-bottom:3px;
}

.titleBox
{
	margin-bottom:20px;
}

.settingTable
{
	font-size:13px;
    font-family:Arial, Helvetica, sans-serif;	
}
